.portfolio-value{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    border: 2.5px solid transparent;

}

.portfolio-value:hover{
    border: 2.5px solid rgba(128, 128, 128,0.8);
}

.portfolio-value ul{
    display: block;
    align-items: center;
    width: fit-content;
    height:100%;
}

.portfolio-value li{
    font-size: 30px;
    font-weight: 600;
}


.portfolio-value p{
    font-size: 15px;
    font-weight: 500;
}

.portfolio-value span{
    font-size: 30px;
    font-weight: 600;
}

.portfolio-header{
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.portfolio-header h6, .portfolio-header h3{
    color:#062046;
    font-size:22px;
}

.portfolio-header a{
    border: 2px solid #5D91F0;
    border-radius: 5px;
    padding: 5px 8px 5px 8px;
}
    
.portfolio-header a:hover{
    background-color: #5D91F0;
    color: #e2e2e2;
}


.portfolios-group{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-top-table{
    color: #5D91F0;
}

.portfolio-top-table span{
    font-weight: 700;
}

.portfolio-top-table a{
    border: 2px solid #5D91F0;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-right: 60px;
}
    
.portfolio-top-table a:hover{
    background-color: #5D91F0;
    color: #e2e2e2;
}

.portfolio-list{
    display: flex;
    padding: 10px 10px 10px 10px;
    width: 100%;
    border-radius: 5px;
    align-items: center;
    height: 80px;
    border-bottom:2.5px solid rgba(93, 145, 240,0.3);
    margin-bottom: 20px;
}

 

.portfolio-list img{
    border-radius: 50%;
    height: 50px;
    width: 50px;

}

.portfolio-status{
    margin-left: 10px;
}

.portfolio-status h3{
    color: #5D91F0;
    font-size: 16px;
}



.portfolio-info{ 
    justify-content: space-between;
    width: 60%;
    padding: 10px 10px 10px 10px;
    display: flex;
    margin-left: auto;
}


.portfolio-info li{
    font-weight: 500;
    display: flex;
    align-items: center; 
}

.portfolio-info h3{
    color: #5D91F0;
    margin-right: auto;
    font-size: 16px;
    line-height: normal;
}

.portfolio-info p{
    margin-right: 50px;
}


.portfolio-list span{
    text-align: end;
    font-stretch:ultra-expanded;
    margin-left: auto;

}

.portfolio-list h6{
    font-size: 17px;
    font-weight: 600;
    text-align: end;
    margin-left: auto;
}


