              /*//////////////////////// Font imports  //////////////////*/











             /*///////////////// GENERAL STYLING //////////////////*/
             
a{text-decoration: none;}
li{list-style-type: none;}















.contents{
  /* min-height: 100vh; */
}



/* scroll to top  */
 
  #scroll-indicator {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 50px;
    color: rgb(255, 252, 252);
    font-size: 30px;
    height: 50px;
    border-radius: 25px;
    background-color:transparent;
    opacity: 0.5;
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }
  
  #scroll-indicator.active {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    opacity: 1;
  }
  